<div class="container ">
  <ng-container *ngIf="association | async as listAssociation;else failureOrLoading">
    <div class="card-header shadow mb-4 mt-lg-5 text-center">
      LISTE DES ASSOCIATIONS
      <div class="card-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Id</th>
            <th>nom</th>
            <th>description</th>
            <th>date de création</th>
            <th>nombre d'adherents</th>
            <th>devenir membre</th>
            </tr>
          </thead>
          <tbody *ngFor="let asso of association |async">
          <tr>
            <td>{{asso.id}}</td>
            <td>{{asso.idUser}}</td>
            <td>{{asso.description }}</td>
            <td>{{asso.dateCreation|date:"dd/MM/yyyy"}}</td>
            <td>{{asso.nbrAdherent}}</td>
            <td><a  [routerLink]="['/adherent/',asso.id]" class="btn-link"  ><i class="fa-solid fa-check"></i></a></td>
            <td><button *ngIf="authService.isAdmin()" class="btn btn-danger" (click)="deleteAsso(asso)"><i class="fa-solid fa-trash-can"></i></button></td>
            <td><button  class="btn btn-info" [routerLink]="['details/',asso.id]" ><i class="fa-solid fa-circle-info"></i></button></td>

          </tr>

          </tbody>

        </table>
      </div>
    </div>
  </ng-container>
  <ng-template #failureOrLoading  >
    <ng-container *ngIf="errorMessage;else loading">
      <div class="text-danger">
        {{errorMessage}}
      </div>
    </ng-container>
    <ng-template #loading>
      <div class="text-center mt-lg-5">
        <h4>chargement</h4>
      <progress></progress>
      </div>
    </ng-template>
  </ng-template>
</div>
