<div class="container w-50 mt-4">
  <div class="card-header">
    Ajouter association
  </div>
  <div class="card-body">
    <form  [formGroup]="newAssociationFormGroup" method="post" (ngSubmit)="saveAsso(currentUser.username)">
      <div class="mb-3">
          <label class="form-label">Nom :</label>
          <input type="text" formControlName="nom" class="form-control">
        <span class="text-danger"
              *ngIf="newAssociationFormGroup.controls['nom'].touched
          &&newAssociationFormGroup.controls['nom'].errors
          && newAssociationFormGroup.controls['nom'].errors!['required']">
          Nom requis pour valider le formulaire
        </span>
      </div>
      <div class="mb-3">
        <label class="form-label">Nom président :</label>
        <input type="text" formControlName="nomPresidentAsso" class="form-control">
        <span class="text-danger"
              *ngIf="newAssociationFormGroup.controls['nomPresidentAsso'].touched
          &&newAssociationFormGroup.controls['nomPresidentAsso'].errors
          && newAssociationFormGroup.controls['nomPresidentAsso'].errors!['required']">
           requis pour valider le formulaire
        </span>
      </div>
      <div class="mb-3">
        <label class="form-label">numero teléphone :</label>
        <input type="text" formControlName="numTelAsso" class="form-control">
        <span class="text-danger"
              *ngIf="newAssociationFormGroup.controls['numTelAsso'].touched
          &&newAssociationFormGroup.controls['numTelAsso'].errors
          && newAssociationFormGroup.controls['numTelAsso'].errors!['required']">
          numéro requis pour valider le formulaire
        </span>
      </div>
      <div class="mb-3">
        <label class="form-label">email :</label>
        <input type="text" formControlName="email" class="form-control">
        <span class="text-danger"
              *ngIf="newAssociationFormGroup.controls['email'].touched
          &&newAssociationFormGroup.controls['email'].errors
          && newAssociationFormGroup.controls['email'].errors!['required']">
          numéro requis pour valider le formulaire
        </span>
        <span class="text-danger"
              *ngIf="newAssociationFormGroup.controls['email'].touched
          &&newAssociationFormGroup.controls['email'].errors
          && newAssociationFormGroup.controls['email'].errors!['email']">
          email non valide
        </span>
      </div>
<!--      <div class="mb-3">-->
<!--        <label class="form-label">date de création :</label>-->
<!--        <input type="datetime-local" formControlName="dateCreation"-->
<!--               class="form-control" value="2018-06-12T19:30" max="2024-12-31T00:00">-->
<!--        <span class="text-danger"-->
<!--              *ngIf="newAssociationFormGroup.controls['dateCreation'].touched-->
<!--          &&newAssociationFormGroup.controls['dateCreation'].errors-->
<!--          && newAssociationFormGroup.controls['dateCreation'].errors!['required']">-->
<!--          date requise pour valider le formulaire-->
<!--        </span>-->
<!--      </div>-->
      <div class="mb-3">
        <label class="form-label">description :</label>
        <textarea type="text" formControlName="description" class="form-control" rows="3"></textarea>
        <span class="text-danger"
              *ngIf="newAssociationFormGroup.controls['description'].touched
          &&newAssociationFormGroup.controls['description'].errors
          && newAssociationFormGroup.controls['description'].errors!['required']">
          description requise pour valider le formulaire
        </span>
      </div>
      <div  class="mb-2 d-flex justify-content-between">

        <button [disabled]="!newAssociationFormGroup.valid"  class="btn btn-info" type="submit">save</button>
        <input class="btn btn-primary " type="reset" value="Reset">

      </div>
    </form>

  </div>
</div>
