<div class="container w-50 mt-4">
  <div class="card-header">
    Mise a jour
  </div>
  <div class="card-body">
    <form>
      <div class="mb-3">
          <label>ID</label>
          <input readonly type="text" [ngModel]="currentUser.id" name="id" class="form-control" >
      </div>
      <div class="mb-3">
        <label>Mot de passe</label>
        <input  type="text" [ngModel]="currentUser.password" name="password" class="form-control" >
      </div>
      <div class="mb-3">
        <label class="form-label">email:</label>
        <label>Email</label>
        <input  type="text" [ngModel]="currentUser.email" name="email" class="form-control" >
      </div>


      <div  class="mb-2 d-flex justify-content-between">

        <button (click)="updateUser()"  class="btn btn-info" type="submit">Maj</button>
        <input class="btn btn-primary " type="reset" value="Reset">

      </div>
    </form>

  </div>
</div>
