/* You can add global styles to this file, and also import other style files */
.barreNav{
  margin-top:130px ;
  margin-right:350px ;
  margin-left: 150px;

}
body{padding-top:30px;}

.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
  display: block;
  line-height: 1.428571429;
  color: #999;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
